<h1>Listing contigs</h1>

<table class="table table-striped table-condensed" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Length</th>
      <th>Sequence</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contigs.each do |contig| %>
      <tr>
        <td><%= link_to contig.name, contig_features_path(contig) %></td>
        <td><%= contig.length %></td>
        <td><%=h truncate(contig.sequence, length: 80)  %></td>
        <td><%= link_to 'Show', contig %></td>
        <td><%= link_to 'Edit', edit_contig_path(contig) %></td>
        <td><%= link_to 'Destroy', contig, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contig', new_strain_contig_path, class: "btn btn-default"  %>
