<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contig.name %>
</p>

<p>
  <strong>Length:</strong>
  <%= @contig.length %>
</p>

<p>
  <strong>Sequence:</strong>
  <%=h truncate(@contig.sequence, length: 80) %>
</p>
<p>
  <strong>Strain:</strong>
  <%= @contig.strain_id %>
</p>
<%= link_to 'Edit', edit_contig_path(@contig) %> |
<%= link_to 'Back', contigs_path %>
