
<div class="jumbotron center">
	<h2> <% unless current_user.nil? %>Hi <%= current_user.first_name  %>,<%end%> Welcome to the Strain Viewer App</h2>
	<% if user_signed_in? %>
	  <p>Now logged in</p>
	  <%= link_to "Create New Project", new_user_project_path, class: "btn btn-default btn-lg" %>
	  <% if current_user.projects.count != 0 %>
	    <%= link_to "View Current Projects", user_projects_path, class: "btn btn-default btn-lg" %>
	  <% end %>
	<% else %>
	  <p>
	  	<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
	  	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	  </p>
	<% end %>
</div>