<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @project.comment %>
</p>

<%= link_to 'Edit', edit_user_project_path(@project) %> |
<%= link_to 'Back', user_projects_path %>
