<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feature.name %>
</p>

<p>
  <strong>Nucleotide Length:</strong>
  <%= @feature.length %>
</p>

<p>
  <strong>Protein Sequence:</strong>
  <textarea class="form-control" rows="3"><%= @feature.sequence %></textarea>
  <%= link_to "Quick Blast", "http://www.ncbi.nlm.nih.gov/blast/Blast.cgi?QUERY=#{@feature.sequence}&DATABASE=nr&HITLIST_SIZE=10&FILTER=L&EXPECT=5&FORMAT_TYPE=HTML&PROGRAM=blastp&CLIENT=web&SERVICE=plain&NCBI_GI=on&PAGE=Nucleotides&CMD=Put", class: "btn btn-primary", target: "_blank" %>
</p>
<p>
  <strong>Type:</strong>
  <%= @feature.f_type %>
</p>
<p>
  <strong>On Contig:</strong>
  <%= Contig.find(@feature.contig_id).name%>
</p>
<p>
  <strong>Start:</strong>
  <%= @feature.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @feature.end %>
</p>

<p>
  <strong>Annotation:</strong>
  <%= @feature.annotation %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', contig_features_path(@feature.contig_id) %>
