  <div class="panel-heading"> 
    <%= bootstrap_form_for([@project, @strain]) do |f| %>
      <% if @strain.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@strain.errors.count, "error") %> prohibited this strain from being saved:</h2>

        <ul>
          <% @strain.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <%= f.text_field :name %>
      <%= f.number_field :length %>
      <%= f.number_field :contig_num %>
      <%= f.text_field :genus %>
      <%= f.text_field :species %>
      <%= f.submit %>
    <% end %>
</div>